<div class="container-fluid">
  <h2>List all recipes with {{name}}</h2>
  <div class="table">
    <ul class="list-group list-group-flush" *ngFor="let recipe of recipes">
      <li class="list-group-item list-group-item-light">
        <table class="table" style="width:100%">
          <tr>
            <td>
              <h4><a id="link" href="./recipes/view/{{recipe.id}}">{{recipe.title}}</a></h4>
              <strong>Serving:</strong> {{recipe.serving}} <br>
              <strong> Cooking Time:</strong> {{recipe.cookingTime}} minutos<br>
              {{recipe.preparation.substr(0, 200)}}...
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>
