<div class="navbar">
  <div>
    <ul class="account-nav__list list list--horizontal">
      <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a class="nav-link" href="/recipes/index">All Recipes</a>
      <a class="nav-link" href="/recipes/create">Create Recipe</a>
    </ul>
  </div>
  <div class="account-nav">
      <ul class="account-nav__list list list--horizontal">
        <a href="/recipes/search/:title"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login </a>
        <a href="#"> | </a>
        <a href="#"> Register</a>
      </ul>
  </div>
</div>
