<div class="container mt-5">
  <div class="form-group" [formGroup]="form">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Search..." formControlName="title"/>
        <input type="button" class="btn btn-info" (click)="searchRecipe()" value="search"/>
      </div>
    </div>
  </div>

  <div>
    <div class="table">
      <ul class="list-group list-group-flush" *ngFor="let recipe of recipes">
        <li class="list-group-item list-group-item-light">
          <table class="table" style="width:100%">
            <tr>
              <td>
                <h4><a id="link" href="./recipes/view/{{recipe.id}}">{{recipe.title}}</a></h4>
                <strong>Category:</strong>
                  <ul class="list-inline-item" *ngFor="let category of recipe.categories">{{category.name}}</ul> <br>
                <strong>Serving:</strong> {{recipe.serving}} <br>
                <strong> Cooking Time:</strong> {{recipe.cookingTime}} minutos<br>
                {{recipe.preparation.substr(0, 200)}}...
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>

</div>
