<div class="container">
  <div class="row row-cards">
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/beef.jpg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  [routerLink]="['recipes/search-by-categories/', 'beef']">Beef recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/vegan.jpg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  href="recipes/search-by-categories/vegetarian">Vegetarian recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/fish.jpeg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  href="recipes/search-by-categories/seafood">Seafood recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cards">
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/chicken.jpg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  href="recipes/search-by-categories/chicken">Chicken recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/dessert.jpg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  href="recipes/search-by-categories/dessert">Dessert recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 row-cards__col">
      <div class="standard-card-new standard-card-new --standard">
        <div class="standard-card-new__main">
          <div class="standard-card-new__thumbnail">
              <img src="assets/images/past.jpg" class="card-img-center" width="300" height="300">
          </div>
          <div class="standard-card-new__main-info">
            <div class="standard-card-new__main-info-title">
              <div class="standard-card-new__display-row ">
                <h4 class="standard-card-new__display-title heading-4">
                  <a class="standard-card-new__article-title qa-card-link"
                  href="recipes/search-by-categories/pasta">Pasta recipes</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
