<div class="container-fluid">
  <h2>Create a new Recipe</h2>

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label><strong>Title:</strong></label>
      <input formControlName="title" id="title" type="text" class="form-control" />
      <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
        <div *ngIf="f['title'].errors && f['title'].errors['required']">
          Content is required!
        </div>
        <div *ngIf="f['title'].errors && f['title'].errors['minlength']">
          The title needs to be at least 5 characters!
        </div>
      </div>
    </div>

    <div class="form-group" >
      <label><strong>Select 1 or more categories:</strong></label><br>
      <div class="form-check form-check-inline">
        <div *ngFor="let categories of categoriesData; let i=index">
          <input class="form-check-input" type="checkbox" [value]="categories.name" (change)="onChange($event)" />
          <label class="form-check-label">{{ categories.name }}</label>
        </div>
      </div>
      <p class="error" *ngIf="this.recipeForm.controls['categories'].errors?.['required']">
        Checkbox is required, select atleast one value.
      </p>
    </div>

    <div class="form-group">
      <label for="difficulty"><strong>Difficulty:</strong></label>
      <div class="row">
        <div class="col">
          <input id="0" type="radio" value="0" name="difficulty" formControlName="difficulty" >
          <label for="0">Easy</label>
        </div>
        <div class="col">
          <input id="1" type="radio" value="1" name="difficulty" formControlName="difficulty" >
          <label for="1">Medium</label>
        </div>
        <div class="col">
          <input id="2" type="radio" value="2" name="difficulty" formControlName="difficulty" >
          <label for="2">Hard</label>
        </div>
      </div>
      <div *ngIf="f['difficulty'].touched && f['difficulty'].invalid" class="alert alert-danger">
        <div *ngIf="f['difficulty'].errors && f['difficulty'].errors['required']">
          Content is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><strong>Serving:</strong></label>
      <input formControlName="serving" id="serving" type="text" class="form-control" />
      <div *ngIf="f['serving'].touched && f['serving'].invalid" class="alert alert-danger">
        <div *ngIf="f['serving'].errors && f['serving'].errors['required']">
          Content is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><strong>Cooking Time </strong>(min)<strong>:</strong></label>
      <input formControlName="cookingTime" id="cookingTime" type="text" class="form-control" />
      <div *ngIf="f['cookingTime'].touched && f['cookingTime'].invalid" class="alert alert-danger">
        <div *ngIf="f['cookingTime'].errors && f['cookingTime'].errors['required']">
          Content is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label><strong>List Ingredients:</strong></label>
      <input formControlName="ingredients" id="preparation" type="text" class="form-control" placeholder="List all ingredients separated by ','">
    </div>

    <div class="form-group">
      <label><strong>Steps:</strong></label>
      <textarea formControlName="preparation" id="preparation" type="text" class="form-control"></textarea>
      <div *ngIf="f['preparation'].touched && f['preparation'].invalid" class="alert alert-danger">
        <div *ngIf="f['preparation'].errors && f['preparation'].errors['required']">
          Contend is required!
        </div>
        <div *ngIf="f['preparation'].errors && f['preparation'].errors['minlength']">
        The steps needs to be at least 5 characters!
        </div>
        <div *ngIf="f['preparation'].errors && f['preparation'].errors['maxlength']">
          Max 3000 characters!
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submeter</button>

  </form>
</div>






